/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

* {
font-family: 'Quicksand', sans-serif;
}

html {
  position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
}

h1 {
  color: #ffffff;
  text-align: center;
  padding: .5em;
  margin: 1.5em;
}

h2 {
  color: #ffffff;
  text-align: center;
  padding: .5em;
  margin: 0;
}

div {
  background-color: #ffffff;
  color: #000000;
  height: 10vh;
  width: 40vw;
  text-align: center;
  margin-bottom: 2em;
  padding: 0.5em;
  border-radius: .5em;
  font-style: italic;
}

body {
   background: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf);
   height: auto;
   width: auto;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#messageBox {
  background-color: #ffffff;
  height: 15vh;
  width: 60vw;
  margin: 2em;
  padding: 0.5em;
  border-radius: .5em;
  display: flex;
}

.meditate-logo {
height: 9vh;
width: 9vw;
margin: auto;
padding: .5em;
justify-content: center;
}

.receive-message {
  background-color: #134d71;
  color: #ffffff;
}
