/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

* {
font-family: 'Quicksand', sans-serif;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

div {
  background-color: #ffffff;
  color: #000000;
}

body {
   background: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf);
   height: 100vh;
   width: auto;
   margin: 0;
}

#messageBox {
  background-color: #ffffff;
}

.meditate-logo {
height: 20vh;
width: 20vw;
}
